<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Boardroom</title>
</head>
<body>
    <h1>Book Boardroom</h1>
    <form method="POST">
        <input name="booking_name" id="id_new_booking" placeholder="Enter booking name" />
        <input name="start_date" id="id_start_date" placeholder="Enter start date/time" />
        <input name="end_date" id="id_end_date" placeholder="Enter end date/time" />
        {% csrf_token %}
    </form>

    <table id="id_bookings_table">
        <tr><td>{{ data.new_booking_name }}</td></tr>
    </table>

</body>
</html>